* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url(https://cdn.jsdelivr.net/gh/sunghyunzz/eulyoo1945/eulyoo1945.css);
body {
  font-family: 'Eulyoo1945', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

::selection {
  background-color: #8effe1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

button:focus,
button:active,
input:focus,
input:active {
  outline: none;
  box-shadow: none;
}
